
<h1>Movies for Sunday, July 14, 2013</h1>

<div id="container">

  <% @movies.last(6).each do |movie| %>
  <div class="movies">
    <h2 class="movieName"><%= movie.name %></h2>
    <h3 class="rating"><%= movie.rating %></h2>
      <p class="synopsis"><%= movie.synopsis %></p>
      <p class="duration"><%= movie.duration %> minutes</p>
      <% movie.tickets.each do |ticket| %>
      <p class="showtimes">
        <a href="/tickets/:movie_id/:time"><%= ticket.time.strftime("%H:%M") %></a><% end %>
      </p>
  </div>
  <% end %>
</div>