
<h1>Movies for Sunday, July 14, 2013</h1>

<div id="container">

  <% @movies.last(6).each do |movie| %>
  <div class="movies">
    <h2 class="movieName"><%= movie.name %></h2>
    <h3 class="rating"><%= movie.rating %></h2>
      <p class="synopsis"><%= movie.synopsis %></p>
      <p class="duration"><%= movie.duration %> minutes</p>
      <ul class="showtimes">
        <% movie.tickets.map(&:time).uniq.each do |ticket| %>
        <li><a href="/tickets/<%= movie.id %>/<%= ticket.strftime("%H:%M") %>"><%= ticket.strftime("%l:%Mpm") %></a></li><% end %>
      </ul>
  </div>
  <% end %>
</div>