<div id="container">
  <div class="theawrapper">
    <p class="tickMovieName"><%= @tickets.first.movie.name %></p>
    <p class="tickMovieDeets"><%= @tickets.first.date.strftime("%A, %b %d") %> at<%= @tickets.first.time.strftime(" %l:%Mpm") %>
    </p>
    <div class="theatre">
      <% @tickets.each do |ticket| %>
      <% if ticket.user == nil %>
          <div class="ticket available" id="<%=ticket.id %>"><%= ticket.time.strftime("%l:%Mpm") %>
            <%= link_to("S#{ticket.seat}", "#")%>
          </div>
        <% else%>
          <div class="ticket purchased" id="<%=ticket.id %>"><%= ticket.time.strftime("%l:%Mpm") %>
            <%= "S#{ticket.seat}" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>