<!DOCTYPE html>
<html>
<head>
  <title>Fancytime Theatre</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div class="wrapper">

  <div class="sticky-bar"><span class="title">Fancytime Theatre</span>
    <% if current_user %>
      <p>You are logged in as <%= current_user.username %>
      <%= link_to("Log Out", logout_path) %></p>
    <% else %>
      <%= link_to("Sign Up", new_user_path) %>
      <%= link_to("Log In", new_session_path) %>
    <% end %>

  </div>
</div>
<body>

<%= yield %>

</body>
</html>
